html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    background: url(../img/iceberg.jpg) no-repeat fixed;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    height: 50px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

nav .menu {
    display: inline-block;
    float: right;
    margin-top: 15px
}

nav .menu p,
nav .menu a {
    margin: 15px;
    display: inline;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: seashell;
}

.banner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.summary {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 700;
    text-align: left;
    color: seashell;
    max-width: 900px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    display: block;
}

#blog {
    background-color: white;
}

.blog-heading {
    color: black;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    padding-top: 70px;
}

.blog-squares-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;

}

.blog-square {
    font-family: 'Work Sans', sans-serif;
    color: white;
    width: 300px;
    height: 250px;
    border: none;
    border-radius: 15px;
    border-color: black;
    margin: 40px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    background-position: center;
    background-size: cover;
}

.blog-square h2 {
    text-align: center;
    position: absolute;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

.description {
    display: none;
    text-align: left;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 50%;
    margin: auto;
}

#square1 {
    background-image: url(../img/logo-2582757_640.png);
}

#square2 {
    background-image: url(../img/be-511557_640.jpg);
}

#square3 {
    background-image: url(../img/lego-blocks-2458575_640.jpg);
}

#square4 {
    background-image: url(../img/thought-2123970_640.jpg);
}

#square5 {
    background-image: url(../img/code-1839406_640.jpg);
}

#square6 {
    background-image: url(../img/brain-3017071_640.png);
}

#square7 {
    background-image: url(../img/rubik-2477165_640.jpg);
}

#square8 {
    background-image: url(../img/mind-544404_640.png);
}