html,
body {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    height: 100%;
}

/* Start: Navbar specific CSS */

#navbar {
    z-index: 2000;

}

.navfixed {
    background-color: hsl(0, 0%, 7%);
}

.menu-text {
    font-size: 20px;
}

/* End: Navbar specific CSS */

/* Start: Home Page Banner specific CSS */
.hero-image {
    background: url(../img/iceberg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: top;
    height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.banner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.banner-text {
    font-size: 65px;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.orange-text {
    color: #F05408;
}

.orange-underline {
    text-decoration: underline;
    text-decoration-color: #F05408;
}

/* End: Home Page Banner specific CSS */

/* Start: Blog Post Squares Section specific CSS */

.card-dimensions {
    height: 300px;
}

.card-img-top-dimensions {
    height: 225px;
    width: 100%;
    padding: 10px;
    display: block;
    object-fit: cover;

}

.zoom {
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.05);
}

/* End: Blog Post Squares Section specific CSS */

#projects {
    background-image: url('../img/coding-1853305_1920.jpg');
    background-position: center;
    background-size: cover;

}

/* Start: Homepage Headings */

.section-heading {
    color: black;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.section-sub-heading {
    color: black;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
}

/* End: Homepage Headings */

/* Blog Pages Specific */

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
}

.article-content {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}

.article-content h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 40px 10px 10px 10px;
}

.article-content h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
}

.article-content p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    line-height: 1.5;
}

.article-content ul {
    list-style: circle;
    font-size: 18px;
    line-height: 1.5;
    padding: 5px 5px 5px 65px;
}

.article-content strong {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.article-content figure {
    text-align: center;
    margin: 30px;
}

.article-content figure img {
    border: solid;
    border-color: black;
}

#ivs-blog {
    background-image: url('../img/code-19052_640.jpg');
    background-position: bottom;
}

#learning-blog {
    background-image: url('../img/thought-2123970_640.jpg');
    background-position: center;
}

#reflections-blog {
    background-image: url('../img/leather-jacket-690316_1920.jpg');
    background-position: center;
}

#block-blog {
    background-image: url('../img/cubes-447703_640.jpg');
    background-position: center;
}

#eq-blog {
    background-image: url('../img/brain-3017071_640.png');
    background-position: center;
}

#hcj-blog {
    background-image: url('../img/code-1839406_640.jpg');
    background-position: center;
}

#neuro-blog {
    background-image: url('../img/mechanical-2033446_640.jpg');
    background-position: center;
}

#problem-blog {
    background-image: url('../img/rubik-2477165_640.jpg');
    background-position: center;
}

/* All custom media queries */

@media screen and (max-width: 1500px) {
    .banner-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 960px) {
    .banner-text {
        font-size: 40px;
    }

    .section-heading {
        font-size: 30px;
    }

    .section-sub-heading {
        font-size: 18px;
    }

    .hero-image {
        background-attachment: scroll;
    }
}